# Files and directories created by pub.
.dart_tool/
.packages
dart/.dart_tool/
dart/.packages

# Conventional directory for build output.
build/
target/
dart/build/
.history
.failed_tracker
dart/bin/pcifim
dart/bin/pcifim.exe
dart/docker/pci_file_monitor
dart/docker/dcli
dart/docker/dcli_core
me.log
dart/bin/batman
